*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: white;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10%;
    background-color: black;
}
.logo{
    cursor: pointer;
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: brown;
    font-weight: bold;
}
.navlinks{
    list-style: none;
}
.navlinks li{
    display: inline-block;
    justify-content: space-between;
    padding: 0px 20px;
}
.navlinks li a:hover{
    color: brown;
    font-size: 18px;
}